{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h5 class="py-3">Доброго времени суток уважаемый ревьюер!</h5> </br>
        1. Работа для меня была сложная, потратил на неё все выходные.</br>
        2. Как Вы увидите дальше по коду - мой уровень далеко не middle ... Но функционал проект выполняет.</br>
        3. Всё что я тут натворил )) - я сделал сам, гуглил и тестировал. Задача - интересная! Даже если Ваш ответ будет ортицательный - огромное Вам спасибо!</br>
        4. Высшего образования в сфере IT - у меня нет(окончил ЯндексПрактикум), по специальнсти я Радиофизик (высшее).</br>
        5. Программирование очень нравится, готов развиваться, и обещаю - что стану ценным сотрудником, если возьмете меня и вложите чуточку своего времени)!</br>
        6. Еще раз спасибо за прдоставленную возмжность.</br>
        7. Телефон для связи: <a href="tel:+7 (904) 239-91-79" class="fw-bold link-info">+7 (904)239-91-79</a>.</br>
        8. Профиль на гите: <a href="https://github.com/Nikita-Kechaev" class="fw-bold link-info">https://github.com/Nikita-Kechaev</a>.</br>
        9. Профиль на HH: <a href="https://syktyvkar.hh.ru/resume/60abe97dff09bd26ae0039ed1f707247313945" class="fw-bold link-info">профиль</a>.</br>
        10. Почта: <a href="mailto:Nkech001@yandex.ru" class="fw-bold link-info">Nkech001@yandex.ru</a></br>
        11. После окончания курсов работал не небольшую команду разработчиков, выполнил несколько проектов по написанию backend - части на django. Веду небольшой пет проект <a href="https://autovolt.shop/" class="fw-bold link-info">https://autovolt.shop/</a> развивая который пытаюсь учить JS и не терять навых по backend части)</br> 
    </div>
{% endblock %}