{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h5 class="py-3">Немного о проекте и материалах, которые я использовал в работе.</h5> </br>
    1. Для меня не совсем была понятна работа с dadata.  В конце концов ,как я понял, - я исчерпал лимит бесплатных запросов, в следствии чего пришлось писать кострукцию с исключениями.</br>
    2. Единственное применение которе мне пришло в голову - уточнение адреса. Например если пользователь пишет адрес и мискликает какую - то букву - сервис это понимает и возвращает корректный город.</br>
    3. Также при анализе таблицы с начальными данными были обнаружены некоторые города - исключения. Сделано это для теста или ошибочно - непонятно.</br>
    4. Нарпимер в г. Москва - остутствует столбец с городом. А для Питера еще и регион корявый. Возможно dadata и могла бы проанализировать, но так как пробник у меня закончился - проверить не смог))</br>
    5. В качестве bd решил использовать postgis - а единственная цель , определение городв в радиусе. Это всё, что я смог нагуглить.</br>
    6. На js и ajax времени не хватило. Потому что необходимо разобраться с маркерами folium - для динамического обновления. Думаю - особо ничего сложного нет, но как обычно - нужно время.</br>
    Вот наверно и всё). Ссылки на используемые ресуры добавлять наверно нет смысла, гугли всё что можно). 
</div>
{% endblock %}